# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example
.env.local

# Build
dist/
build/
.vite/
.output/
.vercel/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local files
*.local